<table class="jobs">
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    
    <body>
    
    <!-- <div class="col-md-1">
      <form action="/action_page.php" class="form-inline">
      <label for="fname">Job name:</label> 
      <input type="text" id="fname" jobname="fname" placeholder="Software engineer" value="">
      <label for="lname">Job Type:</label>
      <input type="text" id="lname" jobtype="lname" placeholder="Full-Time" value="">
      <label for="lname">Job Location:</label>
      <input type="text" id="lname" location="lname2" placeholder="USA" value="">
      <input type="submit" value="Submit">
    </form> -->
    
    <div class="container">
      <form class="form-inline" action="/action_page.php">
        <div class="form-group">
          <br><br><br>
          <label for="fname">Job name:</label> 
          <input type="text" id="fname" jobname="fname" placeholder="Software engineer" value="">
        </div>
      
        <div class="form-group">
          <label for="lname">Job Type:</label>
          <input type="text" id="lname" jobtype="lname" placeholder="Full-Time" value="">
        </div>

        <div class="form-group">
          <label for="lname">Job Location:</label>
          <input type="text" id="lname" location="lname2" placeholder="USA" value="">
        </div>

      <!-- <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div> -->
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>
    
    
    </body>
    </html>
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Job Id</th>
        <th>Comapany Name</th>
        <th>Position</th>
        <th>Location</th>
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < jobData.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= jobData[i].id %></td>
        <td><%= jobData[i].title %></td>
        <td><%= jobData[i].position %></td>
        <td><%= jobData[i].location %></td>
      </tr>
      <% } %>
    </tbody>
  </table>